{% extends 'admin/master.html' %}
{% block body %}
    <ul>
    {% for s in stats %}
        <li>
            <div>http:/{{ s.filename }}</div>
            <video src="http:/{{ s.filename }}" controls="controls" />
        </li>
    {% endfor %}
    </ul>
{% endblock %}