{% extends 'admin/master.html' %}
{% block body %}
    <form action="/admin/videoview/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="upload"/>
    </form>
    {{ is_success }}
{% endblock %}